body {
    background-color: #222;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #505050;
}

h2, table, .fc-toolbar .fc-center > * {
	color: #ebebeb;
}

.fc-event-container {
    color: #000;
}

.fc-event-container .fc-bg {
    opacity: 0;
}

.fc-unthemed td.fc-today {
	background-color: #444;
}
