body > .container {

    padding-top: 10px;

}



header {

    display: none;

}



.fc-toolbar .fc-center {

    width: 100%;

}

.fc-toolbar .fc-center > * {

    float: none;

    width: 100%;

    margin: 0;

}



#entite {

    margin-bottom: 5px !important;

}



#entite,

#groupe,

#calendar .fc-left,

#calendar .fc-right {

    width: calc(100% - 20px);

    margin: 0 10px;

}



#calendar .fc-right {

    display: flex;

    margin-top: 5px;

}



#calendar .fc-right .fc-button-group {

    margin: 0;

    margin-left: auto;

}



#calendar .fc-button {

    margin: 2px 0;

}



#calendar .fc-left .fc-button-group {

    float: right;

}



#calendar .fc-left .fc-button-group .fc-button {

    font-size: 1.2rem;

    margin: 0 0 0 5px;

}



#groupe_visibility {

    width: 100%;

}



#calendar .fc-agendaWeek-view .fc-content-skeleton .fc-title {

    font-size: 0.6rem

}



#calendar .fc-agendaWeek-view .fc-content-skeleton .fc-time {

    font-size: 0.5rem

}



#calendar .fc-month-view .fc-content-skeleton .fc-title {

    font-size: 0.6rem

}



#calendar .fc-month-view .fc-content-skeleton .fc-time {

    font-size: 0.7rem

}



.fc-axis {

    font-size: 0.8rem;

    width: 15px !important;

}



.fc-day-header {

    font-size: 0.8rem;

}



.tooltiptopicevent h1 {

    font-size: 0.8rem;

}



.tooltiptopicevent {

    border-radius: 0.2rem;

    border: solid 1px #717171;

}




